h1, h2, h3, h4, h5 {
  font-family: 'Space Mono', sans-serif;
 }

body {
  font-family: 'Quicksand', sans-serif;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 75px;
  margin-bottom: auto;
 }
