@import url("https://fonts.googleapis.com/css?family=Megrim:400|Quicksand:400");

h1, h2, h3, h4, h5, p {
  font-family: 'Quicksand', sans-serif; }

body {
  font-family: 'Quicksand', sans-serif;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
  margin-bottom: auto;

 }
